<div class="row">
  <div class="col-md-12">
      <!-- Advanced Tables -->
      <div class="panel panel-default">
          <div class="panel-heading">
               Gestion des utilisateurs
          </div>
          <div class="panel-body">
              <button routerLink="add" class="btn btn-primary">Ajouter </button>
              <div class="table-responsive">
                  <table class="table table-striped table-bordered table-hover" id="dataTables-example">
                      <thead>
                          <tr>
                              <th>Email</th>
                              <th>Nom</th>
                              <th>Prénom</th>
                              <!-- <th>Fonction</th> -->
                              <th>Action</th>
                          </tr>
                      </thead>
                      <tbody>
                          <tr class="odd gradeX" *ngFor="let user of users" >
                              <td>{{user.email}}</td>
                              <td>{{user.firstname}}</td>
                              <td>{{user.lastname}}</td>
                              <!-- <td>{{user.UserType == 1 ? "Employé" : "Administrateur" }}</td> -->
                              <td><a > <i class="fa fa-edit"></i> Editer</a><a > <i class="fa fa-trash"></i> Supprimer</a></td>
                          </tr>
                      </tbody>
                  </table>
              </div>
              
          </div>
      </div>
      <!--End Advanced Tables -->
  </div>
</div>