<div class="row">
  <div class="col-md-12">
   <h2>Gestion des Clients</h2>   
      <h5>Ici ! Vous pouvez ajouter, modifier ou supprimer les listes des clients ! </h5>
  </div>
</div>

<form role="form">
  <div class="form-group">
    <input class="form-control" placeholder="Nom du client" />
  </div>
  <div class="form-group">
    <input class="form-control" placeholder="Prénom du client" />
  </div>
  <div class="form-group">
    <input class="form-control" placeholder="Adresse du client" />
  </div>
  <div class="form-group">
    <input class="form-control" placeholder="Numero de son téléphone" />
  </div>
  <button type="submit" class="btn btn-default">Enregister</button>
  <button type="reset" class="btn btn-primary">Annuler</button>
</form>

<div class="panel panel-default">
  <div class="panel-heading">
       Liste des clients
  </div>
  <div class="panel-body">
      <div class="table-responsive">
          <div class="row">
            <div class="col-sm-6">
              <div class="dataTables_length" id="dataTables-example_length">
                <label><select name="dataTables-example_length" aria-controls="dataTables-example" class="form-control input-sm"><option value="10">10</option><option value="25">25</option><option value="50">50</option></select> Enregistrements par page</label>
              </div>
            </div>
            <div class="col-sm-6">
            <div id="dataTables-example_filter" class="dataTables_filter">
              <label>Rechercher:<input type="search" class="form-control input-sm" aria-controls="dataTables-example"></label>
            </div>
          </div>
        </div>
          <table class="table table-striped table-bordered table-hover" id="dataTables-example">
              <thead>
                  <tr>
                      <th>Nom</th>
                      <th>Prenom</th>
                      <th>Adresse</th>
                      <th>Telephone</th>
                      <th>Action</th>
                  </tr>
              </thead>
              <tbody>
                <tr class="odd gradeX"></tr>
              </tbody>
          </table>
      </div>
  </div>
