<ion-view title="Bande d'entrée" id="page9">
  <ion-content padding="true" style="background: url(img/DCtVxy1sRb6lNicaIcQB_il_570xN.524605127_75sz.jpg) no-repeat center;background-size:cover;" class="has-header">
    <form id="bandeDEntrE-form4" class="list">
      <div class="spacer" style="width: 300px; height: 23px;"></div>
      <div id="bandeDEntrE-container1">
        <form id="bandeDEntrE-form5" class="list">
          <button id="bandeDEntrE-button10" class="button button-stable button-block icon ion-android-checkmark-circle"> Scanner</button>
          <label class="item item-input" id="bandeDEntrE-input11">
            <span class="input-label">Produit :</span>
            <input type="text" placeholder="">
          </label>
        </form>
      </div>
      <label class="item item-input" id="bandeDEntrE-input12">
        <span class="input-label">Quantité :</span>
        <input type="number" placeholder="">
      </label>
      <div class="spacer" style="width: 300px; height: 6px;"></div>
      <button id="bandeDEntrE-button11" class="button button-dark button-block icon ion-android-archive"> Valider</button>
      <ion-item class="item-icon-right" id="bandeDEntrE-list-item1">Item
        <i class="icon ion-android-cancel"></i>
      </ion-item>
      <a ui-sref="menu()" id="bandeDEntrE-button12" class="button button-assertive button-block icon ion-android-done-all"> Envoyer</a>
    </form>
  </ion-content>
</ion-view>