<ion-view title="Login" id="page5">
  <ion-content padding="true" style="background: url(img/UHVLlUpzTxe7wZW0h15A_il_570xN.524605127_75sz.jpg) no-repeat center;background-size:cover;" class="has-header">
    <div class="profile-image">
      <img src="img/NsRCkXWqTieJBNzMtFMi_qr.png" style="display: block; width: 40%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div class="spacer" style="width: 300px; height: 5px;"></div>
    <form id="login-form1" class="list">
      <ion-list id="login-list1">
        <label class="item item-input" id="login-input1">
          <span class="input-label">Email</span>
          <input type="email" placeholder="">
        </label>
        <label class="item item-input" id="login-input2">
          <span class="input-label">Mot de passe</span>
          <input type="password" placeholder="">
        </label>
      </ion-list>
      <div class="spacer" style="height: 40px;"></div>
      <a ui-sref="menu()" id="login-button1" class="button button-dark button-block icon ion-log-in"> Se connecter</a>
    </form>
  </ion-content>
</ion-view>