<ion-view title="Menu" id="page8">
  <ion-content padding="true" style="background: url(img/JZjJmQtGTJe145O6GZN5_il_570xN.524605127_75sz.jpg) no-repeat center;background-size:cover;" class="has-header">
    <div class="spacer" style="width: 300px; height: 9px;"></div>
    <div>
      <img src="img/pS3JY73mTTGggjpg80pN_unnamed.png" style="display: block; width: 50%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <form id="menu-form3" class="list">
      <div class="spacer" style="width: 300px; height: 30px;"></div>
      <a ui-sref="bandeDEntrE()" id="menu-button6" class="button button-dark button-block icon ion-android-share"> Bande d'entrée</a>
      <a ui-sref="bandeDeSortie()" id="menu-button7" class="button button-stable button-block icon ion-ios-undo"> Bande de sortie</a>
      <a ui-sref="login()" id="menu-button19" class="button button-assertive button-block">Déconnecter</a>
    </form>
  </ion-content>
</ion-view>